{% extends 'base.html.twig' %}

{% block main %}


    <main id="main" class="container " style="min-height: 200px">

        <!-- ======= About Us Section ======= -->

        <section id="contact" class="contact">
            <div class="container">


                <div class="row mb-5 mt-5 justify-content-center" data-aos="">
                    <div class="section-title col-lg-12">
                        <h2>{% if app.request.cookies.get('lang') == 'fr' %}
                                {{ current_page.nom }}
                            {% else %}
                                {{ current_page.name }}
                            {% endif %}</h2>
                    </div>
                    <div class="col-lg-8">

                        <form action="{{ path('web_send_message') }}" method="post" enctype="multipart/form-data" role="form" class="php-email-form2">
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="{{ 'name'|trans }}" required/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="{{ 'email'|trans }}" required/>

                                </div>
                                <div class="form-group col-md-12">

                                    <select name="subject" class="form-control" required>
                                        <option selected disabled  value="">{{ 'purpose of your message'|trans }}</option>
                                        <option  value="1">{{ 'contact_msg1'|trans }}</option>
                                        <option  value="2">{{ 'contact_msg2'|trans }}</option>
                                        <option  value="3">{{ 'contact_msg3'|trans }}</option>
                                        <option  value="3">{{ 'contact_msg4'|trans }}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="8"  placeholder="{{ 'request'|trans }}" required></textarea>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    {{ 'file size'|trans }}
                                    <input name="file" type="file" class="form-control" accept="image/jpeg,image/png,image/gif,application/pdf,application/x-pdf" placeholder="{{ 'add file'|trans }} " >
                                </div>


                            </div>

                            <div class="form-row" style="align-items: flex-end">
                                <div class="col-md-12 form-group ">
                                    <button class="" style="float: right" type="submit">{{ 'send message'|trans }}</button>

                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">

                        <div class="info-wrap">
                            <h6 style="font-size: 14px">{{ 'phone'|trans }}s</h6>
                            <p><a href="tel:{{ phone }}"><span class="icofont-phone"></span> {{ phone }}</a> </p>
                            {% if whatsapp_phone != '' %}
                                <p>
                                   <a target="_blank" href="https://api.whatsapp.com/send?phone{{ whatsapp_phone|replace({' ': ''}) }}=&text=Hi"><span class="icofont-whatsapp"></span> {{ whatsapp_phone }}</a>
                                </p>
                            {% endif %}
                            {% if telegram_phone != '' %}
                                <p>
                                    <span class="icofont-telegram"></span> {{ telegram_phone }}
                                </p>
                            {% endif %}
                        </div>

                        <div class="info-wrap">
                            <h5 style="font-size: 14px">Pages</h5>
                            <p> {% if twitter != '' or twitter != null %}
                                    <a target="_blank" href="{{ twitter }}" class="twitter"><i class="icofont-twitter"></i> Twitter</a> <br/>
                                {% endif %}

                                {% if facebook != '' or facebook != null %}
                                    <a target="_blank" href="{{ facebook }}" class="facebook"><i class="icofont-facebook"></i> Facebook</a> <br/>
                                {% endif %}

                                {% if instagram != '' or instagram != null %}
                                    <a target="_blank" href="{{ instagram }}" class="instagram"><i class="icofont-instagram"></i> Instagram</a> <br/>
                                {% endif %}

                        </div>



                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

        {% if location_plan != '' or location_map != '' %}

        <div class="map-section mt-5 mb-5">
            <div class="row">
                <div class="section-title col-lg-12">
                    <h2>{{ 'location'|trans }}</h2>
                </div>

                {% if location_plan != '' %}

                    <img class="img-thumbnail mb-5" style="height: 400px; width: 100%" src="{{ asset('uploads/'~location_plan) }}"/>
                {% endif %}

            </div>

            {% if location_map != '' %}
            <iframe style="border:0; width: 100%; height: 350px;" src="{{ location_map }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>
        {% endif %}





    </main><!-- End #main -->

{% endblock %}

{% block js %}

    <script>

    </script>

{% endblock %}
