

<h3>Bienvenue sur Dipongo</h3>

Hello, {{name}} <br/>Tu t'es enregistrés avec succès.

<p>
    Il ne reste plus qu'une étape pour activer ton compte.<br/>
    Cliques sur ce lien <a href="{{ url }}" >lien</a> ou copies ce lien <br/>
    {{ url }}  dans ton navigateur<br/>
     <br/>
    pour valider ton compte.
</p>
<img style="width: 140px;height: 55px" src="{{ logo }}">
<p>
    Cordialement,<br/>

</p>
<h4 >

    © {{ date('now')|date("Y") }} Dipongo Tous droits réservés<br />
</h4>




{# Makes an absolute URL to the /images/logo.png file #}


